body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: normal;
}

body {
    margin: 0 auto;
    font-family: 'jaf-facitweb', Arial, sans-serif;
    color: #3a3a3a;
    min-width: 768px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 717px;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    padding: 0 3.19445%;
    box-sizing: border-box;
    max-width: 100%;
    color: #202020;
    min-width: 768px;
}

[class*="outline"] {
    outline: 1px solid #B1D8ED;
}

.aleft {
    text-align: left;
    padding-left: 2em;
}

.header {
    text-align: center;
    font-size: 1.178em;
    line-height: 1.667em;
}

.header a, .header span {
    display: block;
}

.header a {
    text-transform: uppercase;
    line-height: 1.667em;
    height: 1.667em;
}

.header .col-md-2 {
    height: 100%;
}

.header .logo {
    padding: 0 0.732% 0 0.732%;
}

.header .logo a {
    height: 100%;
}

.header .logo img {
    /*max-width: 180px; width: 98%; margin: 12.5% 0; max-height: 88%;*/
    width: 100%;
    margin: 11% 0px;
}

.header a:hover, .header a:active, .header a.active {
    color: #fd3b6a;
}

.header span {
    color: #e3e3e3;
    max-height: 80px;
    padding: 2em 0;
}

.header > div {
    padding: 1.5em 0;
}

.stickyheader {
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    z-index: 999;
    max-width: 100%;
    background: #323232;
    color: #fff;
}

.stickyheader .header {
    max-width: 1920px;
    min-width: 768px;
}

.mynavbar {
    text-align: center;
    font-size: 1.178em;
    line-height: 1.667em;
}

.mynavbar a, .mynavbar span {
    display: block;
}

.mynavbar a {
    text-transform: uppercase;
    line-height: 1.667em;
    height: 1.667em;
}

.mynavbar .col-md-2 {
    height: 100%;
}

.mynavbar a:hover, .mynavbar a:active, .mynavbar a.active {
    color: #fd3b6a;
}

.mynavbar span {
    color: #e3e3e3;
    max-height: 80px;
    padding: 2em 0;
}

.mynavbar > div {
    padding: 1em 0;
}

.stickynvabar {
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    z-index: 999;
    max-width: 100%;
    background: #f0f0f0;
}

.stickynvabar .mynavbar {
    max-width: 1920px;
    min-width: 768px;
}

footer.container {
    height: 111px;
    padding-top: 22px;
    padding-bottom: 37px;
    line-height: 3.5em;
}

footer .col-md-12 {
    font-size: 1.32em;
    color: #212121;
    line-height: 3.5em;
    min-height: 50px;
}

footer .col-md-12 .left {
    float: left;
    text-transform: uppercase;
}

footer .col-md-12 .right {
    float: right;
}

footer .col-md-12 img {
    position: relative;
    top: -1px;
    margin-left: 10px;
    width: 43px;
    height: 50px;
}

.bg {
    height: 100%;
    position: relative;
}

.texts {
    padding: 29px 0;
    font-size: 1.178em;
    line-height: 1.28em;
}

.texts-big {
    padding: 29px 0;
    font-size: 1.505em;
    line-height: 1.304em;
}

.content {
    display: block;
    text-align: center;
}

img.retina {
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    img.normal, #team img.normal {
        display: none;
    }

    img.retina, #team img.retina {
        display: block;
    }

    footer img.retina {
        display: inline-block;
    }
}
