#comminHeader #headerBar {
    height: 30px;
    line-height: 30px;
    background: #f4f4f4;
    border-bottom: 1px solid #d8e1e6;
}

#headerBar .f-r li {
    float: left;
    height: 30px;
    padding: 0 2px;
}

#comminHeader #header #logo {
    position: relative;
    z-index: 12;
    float: left;
    width: 250px;
    height: 60px;
    padding: 20px 0;
}

#header #search {
    position: relative;
    z-index: 11;
    float: left;
    width: 462px;
    margin-top: 25px;
}

#search .text {
    float: left;
    width: 370px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}

#search .button {
    float: left;
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: none;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}

#header #settleup {
    float: right;
    z-index: 11;
    height: 36px;
    margin-top: 25px;
    margin-right: 65px;
}

#settleup .cw-icon {
    width: 75px;
    height: 34px;
    border: 1px solid #DFDFDF;
    padding: 0 28px 0 36px;
    background: #F9F9F9;
    text-align: center;
    line-height: 34px;
    position: relative;
    cursor: default;
    zoom: 1;
}

#settleup .cw-icon .i, .cw-icon i {
    display: block;
    position: absolute;
    overflow: hidden;
}

#settleup .ci-left {
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url(../images/jd2015img.png) 0 -58px no-repeat;
    _background: url(../images/jd2015img.png) 0 -91px no-repeat;
}

#settleup .ci-right {
    top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}

#settleup .ci-count {
    position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}

#header #hotwords {
    float: left;
    width: 462px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

#hotwords a {
    margin-right: 10px;
}

#comminHeader #navbar {
    height: 44px;
    border-bottom: 2px solid #B1191A;
    _overflow: hidden;
}

#navbar #categorys {
    float: left;
    position: relative;
    z-index: 10;
    width: 210px;
    height: 44px;
    overflow: visible;
}

#categorys .dt a {
    display: block;
    width: 190px;
    height: 44px;
    padding: 0 10px;
    background: #B1191A;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    text-decoration: none;
}

#categorys .dd {
    height: 466px;
    background: #c81623;
    margin-top: 2px;
}

.cata {
    border-bottom: 1px solid #e7e5e6;
}

.cata-group dl.over-group dt p a, .cata-group dl.over-group dt p a.red, .cata-group dl.over-group dt a.title {
    color: #fff;
}

.cata-group dl.cata-group-btn {
    border-left: 1px solid #e7e5e6;
    border-right: 1px solid #e7e5e6;
    background: #fff;
}

.cata-group dl dt {
    width: 80%;
    margin: 0 auto;
    padding: 17px 0;
    border-bottom: 1px dashed #d0d0d0;
}

.cata-group dl dt a.title {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;
}

.cata-group dl dt p a.red {
    color: #d90079;
}

.cata-group dl dt p a {
    display: inline-block;
    padding-right: 14px;
    color: #000;
    line-height: 22px;
}

.over-group {
    border-left: 1px solid #e50065;
    border-right: 1px solid #e50065;
    background: rgba(229, 0, 101, 0.95) !important;
    background: #e50065;
    filter: alpha(opacity=95);
}

.cata-group dl dt.last {
    border-bottom: 0;
    padding: 10px 0;
}


#navbar #navitems {
    float: left;
    position: relative;
    z-index: 2;
}

#navitems li {
    float: left;
}

#navitems a {
    height: 44px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: 400 15px/44px "microsoft yahei";
    color: #333;
}