#nav_left {
}

.cata-group dl.over-group dt p a, .cata-group dl.over-group dt p a.red, .cata-group dl.over-group dt a.title {
    color: #fff;
}

#nav_left .cata {
    border-bottom: 1px solid #e7e5e6;
}

.cata-group dl.cata-group-btn {
    border-left: 1px solid #e7e5e6;
    border-right: 1px solid #e7e5e6;
    background: #fff;
}

.cata-group dl dt {
    width: 80%;
    margin: 0 auto;
    padding: 17px 0;
    border-bottom: 1px dashed #d0d0d0;
}

.cata-group dl dt a.title {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;
}

.cata-group dl dt p a.red {
    color: #d90079;
}

.cata-group dl dt p a {
    display: inline-block;
    padding-right: 14px;
    color: #000;
    line-height: 22px;
}

.over-group {
    border-left: 1px solid #e50065;
    border-right: 1px solid #e50065;
    background: rgba(229, 0, 101, 0.95) !important;
    background: #e50065;
    filter: alpha(opacity=95);
}

.cata-group dl dt.last {
    border-bottom: 0;
    padding: 10px 0;
}